<div id="containerRejestracjiGosc">
		<form method="post" name="register">        	  
			  <input type="text" id="imie" placeholder="Imie" /><br />
			  <input type="text" id="nazwisko" placeholder="Nazwisko" /><br />
              <input type="text" id="username" placeholder="Nazwa uzytkownika" /><br />
			  <input type="password" id="password" placeholder="Hasło" /><br />
			  <input type="text" id="email" placeholder="Adres email" /><br />
			  Prowadzący 
			  <input type="checkbox" id="poziom" /><br />		 
              <input type="button" value="Wyślij" name="przyciskGosc" id="zarejestruj" />
			</form>
	</div>