<div id="menuProwadzacy">
<form action = "index.php" method="get" id="obslugamenu">
<input type="submit" value="Aktualności" name="przyciskProwadzacy" id="aktualnosci"/>
<input type="submit" value="Wiadomości" name="przyciskProwadzacy" id="wiadomosci"/>
</form>
<form action = "index.php" method="get" id="obslugamenu">
Kursy
<select name="menuOpcjaProwadzacy">
<option VALUE="przeprowadzane">Przeprowadzane</option>
<option VALUE="stworz">Stwórz</option>
<option VALUE="zakonczone">Zakończone</option>
<input type="submit" value="Wybierz" name="przyciskProwadzacy" id="studenci"/>
</select>
</form>
<form action = "index.php" method="get" id="obslugamenu">
<input type="submit" value="Studenci" name="przyciskProwadzacy" id="studenci"/>
<input type="submit" value="Archiwum" name="przyciskProwadzacy" id="archiwum"/>
<input type="submit" value="Szukaj" name="przyciskProwadzacy" id="szukaj"/>
</form>
</div>