<div id="menuAdmin">
<form action = "index.php" method="get" id="obslugamenu">
<input type="submit" value="Aktualności" name="przyciskAdmin" id="aktualnosci"/>
<input type="submit" value="Wiadomości" name="przyciskAdmin" id="wiadomosci"/>
<input type="submit" value="Kursy" name="przyciskAdmin" id="kursy"/>
<input type="submit" value="Prowadzący" name="przyciskAdmin" id="prowadzacy"/>
<input type="submit" value="Studenci" name="przyciskAdmin" id="studenci"/>
<input type="submit" value="Archiwum" name="przyciskAdmin" id="archiwum"/>
<input type="submit" value="Szukaj" name="przyciskAdmin" id="szukaj"/>
</form>
</div>