<div id="menuAdmin">
<form action = "index.php" method="get" id="obslugamenu">
<input type="submit" value="Aktualności" name="przyciskAdmin" id="aktualnosci"/>
<input type="submit" value="Wiadomości" name="przyciskAdmin" id="wiadomosci"/>
<input type="submit" value="Panel administracji" name="przyciskAdmin" id="administracja"/>
<input type="submit" value="Studenci" name="przyciskAdmin" id="studenci"/>
<input type="submit" value="Prowadzący" name="przyciskAdmin" id="prowadzacy"/>
<input type="submit" value="Projekty" name="przyciskAdmin" id="kursy"/>

</form>
</div>