body {
	background-color: #f0f0f0;
}

#head {
	height: 10%;
	border-bottom: 1px solid;
}
#login {
	text-align: right;
}
#menu{
	float: left;
	width: 13%;
	height: 75%;
	border-right: 1px solid;
	}
#container{
	background-color: #ffffff;
	float: left;
	width: 85.5%;
	height: 75%;
}
#footer {
	clear: both;
	border-top: 1px solid;
}

input[type=submit] {
	width: 100%;
	height: 40px;
	background: url("images/button.png");
	background-repeat: repeat;
	color: white;
}
input[type=submit]:hover{
	color: red;
	background: url("images/button_hover.png");
}