body {
	background-color: #f8f8f8;
}

#head {
	height: 10%;
	border-bottom: 1px solid;
}
#login {
	text-align: right;
}
#menu{
	float: left;
	width: 13%;
	height: 75%;
	border-right: 1px solid;
	}
#container{
	margin-left: 0.5%;
	float: left;
	width: 85.5%;
	height: 75%;
}
#footer {
	clear: both;
	border-top: 1px solid;
}
a{
	text-align: right;
	background: url("images/button.png"); 
	display: block;
	height: 40px;
	text-align: center;
	background-repeat: repeat;
	color: white;
}
a:hover{
	color: red;
}