<div id="containerOcenaProwadzacy">
	<form>
    <p><label for="ocena">Ocena:</label>
    <select name="ocena" id="ocena">
    	<option VALUE="2">2</option>
        <option VALUE="2.5">2.5</option>
        <option VALUE="3">3</option>
        <option VALUE="3.5">3.5</option>
        <option VALUE="4">4</option>
        <option VALUE="4.5">4.5</option>
        <option VALUE="5">5</option>
    </select></p>
    <p><label for="uwagiOcena">Uwagi do oceny:</label></p>
    <p><textarea id="uwagiOcena" name="uwagiOcena" rows="10" cols="60"></textarea></p>
	<p><input type="button" name="przyciskProwadzacy" value="Zapisz Ocene" id="zapiszOcena"></p>
    </form>
</div>