<div id="containerProjektProwadzacy">
	<div id="wynik">
		{wynik}
    </div>
	<div id="zaakceptowani">
		<p>Uczestnicy projektu:</p>
		{uczestnicy}
	</div>
	<div id="nieZaakceptowani">
		<p>Oczekujący na zatwierdzenie:</p>
		{oczekujacy}
	</div>
    <div id="opcje">
    	<form id="obslugaProjektu">
		<input type="submit" name="przyciskProwadzacy" id="archiwizuj" value="Archiwizuj" />
		<input type="submit" name="przyciskProwadzacy" id="usunProjekt" value="Usuń projekt" />
		<input type="submit" name="przyciskProwadzacy" id="nowyWatek" value="Nowy Wątek" />
		<input type="submit" name="przyciskProwadzacy" id="ocena" value="Ocena" />
		</form>
    </div>
</div>