<div id="containerNowaWiadomoscStudent">
	<form method="post" name="register" id="interfejsWiadomosci">  
		<input type="submit" value="Napisz wiadomość" name="przyciskProwadzacy" id="napisz"/>
		<input type="submit" value="Otrzymane" name="przyciskProwadzacy" id="zobacz"/>
		<input type="submit" value="Wysłane" name="przyciskProwadzacy" id="wyslane"/>
	</form>
	<form id="napiszWiadomosc">
		<input type="text" name="nazwa" placeholder="Nazwa Użytkownika" /><br /><br />
		<input type="text" name="tytul" size="45" placeholder="Tytuł"/> <br /><br />
		<textarea name="tresc" cols="100" rows="10"placeholder="Treść"></textarea> <br /><br />
		<input type="submit" value="Wyślij" name="przyciskProwadzacy"/>
	</form>
</div>