<div id="menuStudent">
    <form action = "" method="post" id="obslugamenu">
    <input type="submit" value="Aktualności" name="przyciskStudent" id="aktualnosci"/>
    <input type="submit" value="Wiadomości" name="przyciskStudent" id="wiadomosci"/>
    <p>Kursy</p>
    <select onchange="self.location.href = this.value">
    <option VALUE="adres1.html">Dostępne</option>
    <option VALUE="adres2.html">Moje</option>
    <option VALUE="adres3.html">Zakończone</option>
    </select>
    <input type="submit" value="Prowadzący" name="przyciskStudent" id="prowadzacy"/>
    <input type="submit" value="Archiwum" name="przyciskStudent" id="archiwum"/>
    <input type="submit" value="Szukaj" name="przyciskStudent" id="szukaj"/>
    </form>
</div>