<div id="menuStudent">
    <form action = "index.php" method="get" id="obslugamenu">
    <input type="submit" value="Aktualności" name="przyciskStudent" id="aktualnosci"/>
    <input type="submit" value="Wiadomości" name="przyciskStudent" id="wiadomosci"/>
    <p>Kursy</p>
	<select name="menuOpcjaStudent">
	<option VALUE="dostepne">Dostępne</option>
	<option VALUE="moje">Moje</option>
	<option VALUE="zakonczone">Zakończone</option>
	<input type="submit" value="Wybierz" name="przyciskStudent" id="wybierz"/>
	</select>
    <input type="submit" value="Prowadzący" name="przyciskStudent" id="prowadzacy"/>
    <input type="submit" value="Archiwum" name="przyciskStudent" id="archiwum"/>
    <input type="submit" value="Szukaj" name="przyciskStudent" id="szukaj"/>
    </form>
</div>