<div id="containerProjekty">
<table id="tab" border=1>
<thead>
<tr>
	
	<th><a href="#" onclick="sortIt(this);return false;">ID projektu</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Nazwa</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Opis</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Termin</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Miejsce</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Wytyczne</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID koordynatora</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID kierownika</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID grupy</a></th>
</tr>
</thead>
<tbody>
{projekty}
</tbody></table>
</div>

