<div id="containerEdytujKontoAdmin">
Edycja danych osobowych:
<form action="" method="post" id="edycja">

ID: <input type="text" id="id" value="id"><br>
Nazwisko: <input type="text" name="nazwisko"id="nazwisko" /><br />
Nr telefonu: <input type="text" name="nrtel"id="nrtel" /><br />
ID sieciowe: <input type="text" name="idsiec"id="issiec" /><br />

<input type="submit" value="Zamień" name="przyciskAdmin" id="zamien" />

</form>

Zmień hasło:
<form action="" method="post" id="zmienHaslo">
Stare Hasło: <input type="text" name="starehaslo"id="starehaslo" /><br />
Nowe Hasło: <input type="text" name="nowehaslo"id="nowehaslo" /><br />
<input type="submit" value="Edytuj" name="edytuj" id="edytuj" />
</form>
</div>