<div id="containerNowaWiadomoscAdmin">
	<form method="post" name="register" id="interfejsWiadomosciAdmin">  
		<input type="submit" value="Napisz wiadomość" name="przyciskAdmin" id="napisz"/>
		<input type="submit" value="Otrzymane" name="przyciskAdmin" id="zobacz"/>
		<input type="submit" value="Wysłane" name="przyciskAdmin" id="wyslane"/>
	</form>
	<form id="napiszWiadomoscAdmin">
		<input type="text" name="adresatAdmin" id="nazwaUzytkownika" placeholder="Adres"/><br />
		<input type="text" name="poleAdmin" size="45" id="tytul" placeholder="Tytuł"/> <br /><br />
		<textarea name="Treść" cols="100" rows="10" id="trescWiadomosci" placeholder="Treść"></textarea> <br /><br />
		<input type="button" value="Wyslij Wiadmość" name="przyciskAdmin" id="wyslijWiadomosc" />
	</form>
</div>