<div id="containerStudenci">
<table id="tab" border=1>
<thead>
<tr>
	
	<th><a href="#" onclick="sortIt(this);return false;">Imie</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Nazwisko</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Telefon</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID Wydziału</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Kierunek</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Rok</a></th>
</tr>
</thead>
<tbody>
{studenci}
</tbody></table>
</div>

