<div id="containerProwadzacy">
<table id="tab" border=1>
<thead>
<tr>
	<th><a href="#" onclick="sortIt(this);return false;">ID</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Imie</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Nazwisko</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Telefon</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID Wydziału</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">ID katedry</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Stanowisko</a></th>
	<th><a href="#" onclick="sortIt(this);return false;">Tytuł</a></th>
</tr>
</thead>
<tbody>
{prowadzacy}
</tbody></table>
</div>
